flare_files/*
*.pdb
*.flr
*.DS_Store
*.ipynb_checkpoints
*.log
*.chk
*.fchk
*.com
*.rwf
*.skr
*.swp
*gssn16*
*split_pop*
*split_opt*
*large_opt*
*.bk
*.prmtop
*.inpcrd
*.prm7
*.rst7
*.mol2
*.xyz
old_gaussian/*
*.top
*.gro
*.trr
*.xtc
*.ppm
*.dat
vim_2/vmd/*
*.lock
*.npz
nvt.o24783256
nvt.o24792970
nvt.pe24783256
nvt.pe24792970
nvt.po24783256
nvt.po24792970
nvt.e24783256
nvt.e24792970
*.sdf
kpc2/equilibration/*
vim_2/equilibration/*
scripts/__pycache__/*
