flare_files/*
*.pdb
*.flr
*.DS_Store
*.ipynb_checkpoints
*.log
*.chk
*.fchk
*.com
*.rwf
*.skr
*.swp
*gssn16*
*split_pop*
*split_opt*
*large_opt*
*.bk
*.prmtop
*.inpcrd
*.prm7
*.rst7
*.mol2
*.xyz
old_gaussian/*
*.top
*.gro
*.trr
*.xtc
*.ppm
*.dat
vim_2/vmd/*
*.lock
*.npz
