*.prm7
*.rst7
*.prmtop
*.inpcrd
*.pdb
*.sdf
*.mol2
*.pyc
*.gro
*.top
*.chk
*.log
*.dat
*.fchk
*.com
*.swp
*.xyz
*.out
*.flr
*.csv
*.trr
*.xtc
*.png
*.edr
*.cpt
*.tpr
*.err
*.po*
*.pe*
*.o*
*.pickle
kpc2/outputs
kpc2/equilibration
dft/ligand_*
meze/__pycache__
azetidinimines/kpc2/inputs/ligands/images
