{{! Google Docstring Template }}

{{summaryPlaceholder}}

Parameters:
-----------
{{#args}}
{{var}}: 
    {{descriptionPlaceholder}}
{{/args}}

Return:
-------
{{#returns}}
{{var}}: {{typePlaceholder}}
    {{descriptionPlaceholder}}
{{/returns}}